<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="author" content="Turbinar Perfil">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="A turbinar perfil é o maior fornecedor de serviços para mídias sociais, prezamos qualidade e rapidez nas entregas do serviço">
    <meta name="keywords" content="comprar seguidores, compra seguidores, compra seguidores instagram, comprar seguidores hoje, painel smm, comprar curtidas instagram, comprar curtidas, comprar visualizações instagram, comprar seguidor, seguidores instagram, curtidas instagram, visualizações instagram, visualizações, instagram, insta, vender seguidores, vender seguidores no instagram, tiktok, seguidores tiktok, curtidas tiktok, kwai">
    <meta property="og:locale" content="pt-BR">
    <meta property="og:type" content="website">
    <meta property="og:title" content="A turbinar perfil é o maior fornecedor de serviços para mídias sociais, prezamos qualidade e rapidez nas entregas do serviço">
    <meta property="og:url" content="https://turbinarperfil.fun">
    <title>Checkout - Turbinar Perfil</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600&display=swap" rel="stylesheet">
    <link href="style.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css" />

</head>
<body>
    <div class="bg_main_checkout">
        <header>
            <div class="container_logo">
                <a href="/"><img src="logo.webp" alt="Logo Impulsionar Perfil"></a>
            </div>
            <nav>
                <ul>
                    <li class="none_menu"><a href="/">Inicio</a></li>
                    <li class="none_menu"><a href="/">Serviços</a></li>
                    <li class="none_menu"><a href="/termos">Termos de Uso</a></li>
                    <li class="suporte none_menu"><a href="https://wa.me/message/VPCOLQZBW23LO1">Suporte</a></li>
                    <li><a href="/pedido" class="contato_header contato_checkout">Ver pedido</a></li>
                </ul>
            </nav>
        </header>
        <main id="main">
            <div class="container_pagamento">
                <div class="container_info_checkout">
                    <div class="inco_checkout">

                        <span>Insira suas Informações
                        </span>
                    </div>
                    <div class="pagamento_info">
                        <form method="post" action="/checkout" onsubmit="return validaCheckout()">
                            <label>Link do perfil/SEG ou postagem/CURT:<span style="font-size: 20px; color: #ff5100;">*</span></label>
                            <input type="text" placeholder="Digite seu @ ou link " name="link" id="linkCheckout">
                            <label>E-mail:<span style="font-size: 20px; color: #ff5100;">*</span></label>
                            <input type="email" placeholder="Digite seu e-mail" id="emailCheckout" name="email"><br>
                            <label>Telefone:<span style="font-size: 20px; color: #ff5100;">*</span></label>
                            <input type="text" placeholder="Digite seu telefone" id="telefoneCheckout"
                                name="telefone"><br>
                            <input type="hidden" name="serviceId" id="serviceId">
                            <label class="container checkbox_payment">Ao clicar em avançar, você concorda com nossos
                                <a href="/termos">Termos</a> de serviços
                                <input type="checkbox" id="verifiedCheckbox">
                                <span class="checkmark"></span>
                            </label>
                            <button type="submit">Finalizar Pagamento</button>
                        </form>
                    </div>
                </div>
                <div class="text_info_checkout">

                    <p class="iconeAltaQualidade">Alta Qualidade</p>

                    <p class="iconePassword">Não precisa de senha</p>

                    <p class="iconeSeguro">seguro e garantido</p>

                    <p class="iconehoras">Inicio em até 48 horas</p>

                    <p class="iconeperfilpublico">Mantenha o perfil público</p>

                    <div class="checkout_paga">
                        <p><span class="tipo_checkout">Seguidores Mundiais</span></p>
                        <p><b>Quantidade:</b> <span class="price_total_checkout quantidadeTotal">1.000</span></p>
                        <p class="price_fron"><b>Total:</b> <span class="price_total_checkout priceTotal">****</span>
                        </p>
                    </div>
                </div>
            </div>
            <div class="container_comentario">
                <div class="card_coment">
                    <h2>Comprei 500 seguidores</h2>
                    <ul>
                        <li><img src="avaliação.webp"></li>
                        <li><img src="avaliação.webp"></li>
                        <li><img src="avaliação.webp"></li>
                        <li><img src="avaliação.webp"></li>
                        <li><img src="avaliação.webp"></li>
                    </ul>
                    <p>Chegou certinho e muito rápido</p>
                    <span>Ana Paula 20/08/2023</span>
                </div>
                <div class="card_coment">
                    <h2>Excelente</h2>
                    <ul>
                        <li><img src="avaliação.webp"></li>
                        <li><img src="avaliação.webp"></li>
                        <li><img src="avaliação.webp"></li>
                        <li><img src="avaliação.webp"></li>
                        <li><img src="avaliação.webp"></li>
                        
                    </ul>
                    <p>Comprei seguidores e chegou super rápido</p>
                    <span>Gabriel 17/08/2023</span>
                </div>
                <div class="card_coment">
                    <h2>Muito bom</h2>
                    <ul>
                        <li><img src="avaliação.webp"></li>
                        <li><img src="avaliação.webp"></li>
                        <li><img src="avaliação.webp"></li>
                        <li><img src="avaliação.webp"></li>
                        <li><img src="avaliação.webp"></li>
                    </ul>
                    <p>Muito bom, comprei seguidores brasileiros</p>
                    <span>Maikon 10/08/2023</span>
                </div>
                <div class="card_coment">
                    <h2>Suporte Excelente</h2>
                    <ul>
                        <li><img src="avaliação.webp"></li>
                        <li><img src="avaliação.webp"></li>
                        <li><img src="avaliação.webp"></li>
                        <li><img src="avaliação.webp"></li>
                        <li><img src="ava.png"></li>
                    </ul>
                    <p>Tive algumas dúvidas e me responderam super rápido no suporte</p>
                    <span>Luiz 17/07/2023</span>
                </div>
                <div class="card_coment">
                    <h2>Muito bom</h2>
                    <ul>
                        <li><img src="avaliação.webp"></li>
                        <li><img src="avaliação.webp"></li>
                        <li><img src="avaliação.webp"></li>
                        <li><img src="avaliação.webp"></li>
                        <li><img src="ava.png"></li>
                    </ul>
                    <p>Comprei curtidas e chegaram todas</p>
                    <span>Layara 05/07/2023</span>
                </div>
                <a href="/">Avaliar Serviço</a>
            </div>

            <div class="container_qr qr_none">
                <div class="qr_code">
                    <h2>Escanei o código QR a baixo para realizar o pagamento...
                    </h2>
                    <span>Expira em </span>
                    <p id="cronometros">5:00 Minutos</p></br></br>
                    <div id="qrCodeContainer">
                        <img src="data:image/png;base64,<%= token %>" alt="QR Code">'
                    </div>
                    <p id="copy_qr">
                        <%= copy %>
                    </p>
                    <button onclick="copyText()">Copiar</button>
                    <a href="/pedido" id="btnCloseQr" onclick="closepix()">Ver Pedido</a>


                </div>
            </div>

            <div class="filter filter_none"></div>
            <footer class="footer_payment">
                <div class="container_footer">
                    <nav>
                        <ul>
                            <li><b><a href="https://wa.me/message/VPCOLQZBW23LO1" style="color: #333;">Suporte</a></b></li>
                            <li><a href="/termos" style="color: #333;">Termos de Uso</a></li>
                            <li><a href="/politica" style="color: #333;">Politica de Privacidade</a></li>
                        </ul>
                    </nav>
                    <div class="footer_imagem">
                        <img src="google (1).png" style="width: 160px;">
                        <img src="pix.png">
                        <img src="globo.png">
                        <img src="certificado (1).png" style="width: 140px; height: 70px;" alt="Imagem Compra Segura">
                        <br>
                    </div>
                </div>
                <p>Copyright © 2023 - turbinarperfil - Não temos nenhuma relação com a Meta ou qualquer outra rede
                    social</p>
            </footer>
        </main>
        <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
        <script>

            let token = '<%= token %>'
            let local = localStorage.getItem('carrinho');
            let localPacote = localStorage.getItem('pacote');
            let linkCheckout = document.getElementById('linkCheckout');
            let emailCheckout = document.getElementById('emailCheckout');
            let container_qr = document.querySelector('.container_qr');
            let serviceId = document.getElementById('serviceId');
            let price_total_checkout = document.querySelector('.price_total_checkout');
            let telefoneCheckout = document.getElementById('telefoneCheckout');
            let priceTotal = document.querySelector('.priceTotal');
            let tipo_checkout = document.querySelector('.tipo_checkout');
            let filter = document.querySelector('.filter');
            let valor_total = document.querySelector('.price_fron');
            let converte = JSON.parse(local);

        
                (function () {
                    let local = localStorage.getItem('carrinho');
                    if (local === null && localPacote === null) {
                        window.location.href = '/';
                    }
                })();

            linkCheckout.value = converte[0].link;
            price_total_checkout.innerHTML = converte[0].qntdService;
            tipo_checkout.innerHTML = converte[0].description;
            let convertePreco = Number(converte[0].price)
            let verifiedCheckbox = document.getElementById("verifiedCheckbox")
            valor_total.innerHTML = `<b>Total:</b> <span class="price_total_checkout priceTotal">R$ ${convertePreco.toFixed(2)}</span>`;

            const validaCheckout = () => {
                if (linkCheckout.value !== "" && linkCheckout.value !== undefined && linkCheckout.value !== null) {
                    if (emailCheckout.value !== "" && emailCheckout.value !== null && emailCheckout.value !== undefined) {
                        if (telefoneCheckout.value !== "" && telefoneCheckout.value !== undefined && telefoneCheckout.value !== null) {
                            if(verifiedCheckbox.checked){
                                serviceId.value = local;
                                return true;
                            }else{
                                alert("Aceite nossos termos");
                                return false;
                            }
                        } else {
                            alert("Digite o telefone")
                            return false;
                        }
                    } else {
                        alert("E-mail está vazio!!")
                        return false;
                    }
                } else {
                    alert("Cole o link do perfil para seguidores ou postagem para curtidas");
                    return false;
                }
            }

            function copyText() {
                const text = document.getElementById('copy_qr');
                const range = document.createRange();
                range.selectNode(text);
                window.getSelection().removeAllRanges();
                window.getSelection().addRange(range);
                document.execCommand('copy');
                window.getSelection().removeAllRanges();
                alert('Pix Copiado!');
            }

            if (token) {
                container_qr.classList.remove("qr_none");
                filter.classList.remove('filter_none')
                localStorage.removeItem('carrinho');

                let qrCodeContainer = document.getElementById('qrCodeContainer');
                let qr_code = document.getElementById("copy_qr");

                setTimeout(() => {

                    qrCodeContainer.innerHTML = "<h1 style='text-align:center; padding:20px;'>Código expirado</h1>"
                    qr_code.innerHTML = "<h2 style='text-align:center;'>O QR Code Expirou</h2>"
                }, 300000)
            } else {
                container_qr.classList.add("qr_none");
                filter.classList.add('filter_none')
            }
        </script>
</body>
</html>