<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="author" content="Turbinar Perfil">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description"
        content="A turbinar perfil é o maior fornecedor de serviços para mídias sociais, prezamos qualidade e rapidez nas entregas do serviço">
    <meta name="keywords"
        content="comprar seguidores, compra seguidores, compra seguidores instagram, comprar seguidores hoje, painel smm, comprar curtidas instagram, comprar curtidas, comprar visualizações instagram, comprar seguidor, seguidores instagram, curtidas instagram, visualizações instagram, visualizações, instagram, insta, vender seguidores, vender seguidores no instagram, tiktok, seguidores tiktok, curtidas tiktok, kwai">
    <meta property="og:locale" content="pt-BR">
    <meta property="og:type" content="website">
    <meta property="og:title"
        content="A turbinar perfil é o maior fornecedor de serviços para mídias sociais, prezamos qualidade e rapidez nas entregas do serviço">
    <meta property="og:url" content="https://turbinarperfil.fun">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600&display=swap" rel="stylesheet">
    <link href="style.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css" />
    <title>Turbinar Perfil</title>
</head>

<body>
    
    <div class="bg_main">
        <header>
            <div class="container_logo">
                <a href="/"><img src="logo.webp" alt="Logo Turbinar Perfil"></a>
            </div>
            <nav>
                <ul>
                    <li class="none_menu"><a href="/">Inicio</a></li>
                    <li class="none_menu"><a href="#esc">Seja Revendedor</a></li>
                    <li class="none_menu"><a href="/termos">Indique</a></li>
                    <li class="suporte none_menu"><a href="https://wa.me/message/VPCOLQZBW23LO1">Suporte</a></li>
                    <li><a href="/pedido" class="contato_header">Ver Pedido</a></li>
                </ul>
            </nav>
        </header>
        <main>
            <div class="container_home">
                <div class="text_center">
                    <h1>Compre Seguidores de qualidade para suas<br> Mídias Sociais com melhor Fornecedor!</h1>
                    <span class="qntd_pedidos">+19.000 Pedidos</span>
                    <p>Crescer suas Redes Sociais foi difícil e demorado? Não mais! TurbinarPerfil é o melhor site para
                        comprar seguidores e curtidas de qualidade e aumentar seu perfil em poucos cliques.</p>
                    <a href="/gratis" class="pulse">Teste Grátis</a>
                </div>
                <div class="bg_image">
                    <img src="backgroundEfeitoHome.webp" alt="Imagem Home Turbinar Perfil">
                </div>
                <div class="imagem_purse">
                    <img src="ctEfeitoHome.webp" alt="Imagem Home Efeito Turbinar Perfil">
                </div>
            </div>
    </div>
    <div class="container-produto produto-1">
        <h1 id="title_over">Seguidores Mundiais:</h1>
        <hr>
        <div class="slide-container swiper">
            <div class="slide-content">
                <div class="card-wrapper swiper-wrapper">
                    <div class="card swiper-slide">
                        <div class="card cardSegMundiais">
                            <img src="fotoseguidosesmundiais.png" />
                            <span>INSTAGRAM</span>
                            <h1>50 Seguidores Mundiais Instagram</h1>
                            <p>R$ 2,50</p>
                            <h2>R$ 1,50</h2>
                            <button>Comprar</button>
                        </div>
                    </div>
                    <div class="card swiper-slide">
                        <div class="card cardSegMundiais">
                            <img src="fotoseguidosesmundiais.png" />
                            <span>INSTAGRAM</span>
                            <h1>100 Seguidores Mundiais Instagram</h1>
                            <p>R$ 3,34</p>
                            <h2>R$ 2,00</h2>
                            <button>Comprar</button>
                        </div>
                    </div>
                    <div class="card swiper-slide">
                        <div class="card cardSegMundiais">
                            <img src="fotoseguidosesmundiais.png" />
                            <span>INSTAGRAM</span>
                            <h1>150 Seguidores Mundiais Instagram</h1>
                            <p>R$ 5,00</p>
                            <h2>R$ 3,00</h2>
                            <button>Comprar</button>
                        </div>
                    </div>
                    <div class="card swiper-slide">
                        <div class="card cardSegMundiais">
                            <img src="fotoseguidosesmundiais.png" />
                            <span>INSTAGRAM</span>
                            <h1>300 Seguidores Mundiais Instagram</h1>
                            <p>R$ 5,84</p>
                            <h2>R$ 3,50</h2>
                            <button>Comprar</button>
                        </div>
                    </div>
                    <div class="card swiper-slide">
                        <div class="card cardSegMundiais">
                            <img src="fotoseguidosesmundiais.png" />
                            <span>INSTAGRAM</span>
                            <h1>500 Seguidores Mundiais Instagram</h1>
                            <p>R$ 6,70</p>
                            <h2>R$ 4,00</h2>
                            <button>Comprar</button>
                        </div>
                    </div>
                    <div class="card swiper-slide">
                        <div class="card cardSegMundiais">
                            <img src="fotoseguidosesmundiais.png" />
                            <span>INSTAGRAM</span>
                            <h1>1000 Seguidores Mundiais Instagram</h1>
                            <p>R$ 11,62</p>
                            <h2>R$ 6,97</h2>
                            <button>Comprar</button>
                        </div>
                    </div>
                    <div class="card swiper-slide">
                        <div class="card cardSegMundiais">
                            <img src="fotoseguidosesmundiais.png" />
                            <span>INSTAGRAM</span>
                            <h1>2000 Seguidores Mundiais Instagram</h1>
                            <p>R$ 19,96</p>
                            <h2>R$ 11,97</h2>
                            <button>Comprar</button>
                        </div>
                    </div>
                    <div class="card swiper-slide">
                        <div class="card cardSegMundiais">
                            <img src="fotoseguidosesmundiais.png" />
                            <span>INSTAGRAM</span>
                            <h1>3000 Seguidores Mundiais Instagram</h1>
                            <p>R$ 31,65</p>
                            <h2>R$ 18,99</h2>
                            <button>Comprar</button>
                        </div>
                    </div>
                    <div class="card swiper-slide">
                        <div class="card cardSegMundiais">
                            <img src="fotoseguidosesmundiais.png" />
                            <span>INSTAGRAM</span>
                            <h1>5000 Seguidores Mundiais Instagram</h1>
                            <p>R$ 49,95</p>
                            <h2>R$ 29,97</h2>
                            <button>Comprar</button>
                        </div>
                    </div>
                    <div class="card swiper-slide">
                        <div class="card cardSegMundiais">
                            <img src="fotoseguidosesmundiais.png" />
                            <span>INSTAGRAM</span>
                            <h1>10000 Seguidores Mundiais Instagram</h1>
                            <p>R$ 93,29</p>
                            <h2>R$ 55,97</h2>
                            <button>Comprar</button>
                        </div>
                    </div>
                    <div class="card swiper-slide">
                        <div class="card cardSegMundiais">
                            <img src="fotoseguidosesmundiais.png" />
                            <span>INSTAGRAM</span>
                            <h1>15000 Seguidores Mundiais Instagram</h1>
                            <p>R$ 139,99</p>
                            <h2>R$ 83,99</h2>
                            <button>Comprar</button>
                        </div>
                    </div>
                    <div class="card swiper-slide">
                        <div class="card cardSegMundiais">
                            <img src="fotoseguidosesmundiais.png" />
                            <span>INSTAGRAM</span>
                            <h1>20000 Seguidores Mundiais Instagram</h1>
                            <p>R$ 176,65</p>
                            <h2>R$ 105,99</h2>
                            <button>Comprar</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="swiper-button-next swiper-navBtn"></div>
            <div class="swiper-button-prev swiper-navBtn"></div>
            <div class="swiper-pagination"></div>
        </div>
    </div>
    <div class="container-produto produto-1">
        <h1 id="title_over">Curtidas Mundiais:</h1>
        <hr>
        <div class="slide-container swiper">
            <div class="slide-content">
                <div class="card-wrapper swiper-wrapper">
                    <div class="card swiper-slide">
                        <div class="card cardCurtMundiais">
                            <img src="curtidas.png" />
                            <span>INSTAGRAM</span>
                            <h1>100 Curtidas Mundiais Instagram</h1>
                            <p>R$ 3,34</p>
                            <h2>R$ 2,00</h2>
                            <button>Comprar</button>
                        </div>
                    </div>
                    <div class="card swiper-slide">
                        <div class="card cardCurtMundiais">
                            <img src="curtidas.png" />
                            <span>INSTAGRAM</span>
                            <h1>150 Curtidas Mundiais Instagram</h1>
                            <p>R$ 4,17</p>
                            <h2>R$ 2,50</h2>
                            <button>Comprar</button>
                        </div>
                    </div>
                    <div class="card swiper-slide">
                        <div class="card cardCurtMundiais">
                            <img src="curtidas.png" />
                            <span>INSTAGRAM</span>
                            <h1>300 Curtidas Mundiais Instagram</h1>
                            <p>R$ 5,00</p>
                            <h2>R$ 3,00</h2>
                            <button>Comprar</button>
                        </div>
                    </div>
                    <div class="card swiper-slide">
                        <div class="card cardCurtMundiais">
                            <img src="curtidas.png" />
                            <span>INSTAGRAM</span>
                            <h1>500 Curtidas Mundiais Instagram</h1>
                            <p>R$ 6,66</p>
                            <h2>R$ 3,99</h2>
                            <button>Comprar</button>
                        </div>
                    </div>
                    <div class="card swiper-slide">
                        <div class="card cardCurtMundiais">
                            <img src="curtidas.png" />
                            <span>INSTAGRAM</span>
                            <h1>1000 Curtidas Mundiais Instagram</h1>
                            <p>R$ 9,96</p>
                            <h2>R$ 5,97</h2>
                            <button>Comprar</button>
                        </div>
                    </div>
                    <div class="card swiper-slide">
                        <div class="card cardCurtMundiais">
                            <img src="curtidas.png" />
                            <span>INSTAGRAM</span>
                            <h1>2000 Curtidas Mundiais Instagram</h1>
                            <p>R$ 18,32</p>
                            <h2>R$ 10,99</h2>
                            <button>Comprar</button>
                        </div>
                    </div>
                    <div class="card swiper-slide">
                        <div class="card cardCurtMundiais">
                            <img src="curtidas.png" />
                            <span>INSTAGRAM</span>
                            <h1>3000 Curtidas Mundiais Instagram</h1>
                            <p>R$ 44,38</p>
                            <h2>R$ 15,97</h2>
                            <button>Comprar</button>
                        </div>
                    </div>
                    <div class="card swiper-slide">
                        <div class="card cardCurtMundiais">
                            <img src="curtidas.png" />
                            <span>INSTAGRAM</span>
                            <h1>5000 Curtidas Mundiais Instagram</h1>
                            <p>R$ 69,42</p>
                            <h2>R$ 24,99</h2>
                            <button>Comprar</button>
                        </div>
                    </div>
                   
                </div>
            </div>

            <div class="swiper-button-next swiper-navBtn"></div>
            <div class="swiper-button-prev swiper-navBtn"></div>
            <div class="swiper-pagination"></div>
        </div>
       
    </div>
    <div class="container-produto">
        <h1 id="title_over">Seguidores Brasileiros:</h1>
        <hr>
        <div class="slide-container swiper">
            <div class="slide-content">
                <div class="card-wrapper swiper-wrapper">
                    <div class="card swiper-slide">
                        <div class="card cardSegBr">
                            <img src="seguidoresbr.png" />
                            <span>INSTAGRAM</span>
                            <h1>50 Seguidores Brasileiros </h1>
                            <p>R$ 6,65</p>
                            <h2>R$ 3,99</h2>
                            <button>Comprar</button>
                        </div>
                    </div>
                    <div class="card swiper-slide">
                        <div class="card cardSegBr">
                            <img src="seguidoresbr.png" />
                            <span>INSTAGRAM</span>
                            <h1>100 Seguidores Brasileiros</h1>
                            <p>R$ 9,95</p>
                            <h2>R$ 5,97</h2>
                            <button>Comprar</button>
                        </div>
                    </div>
                    <div class="card swiper-slide">
                        <div class="card cardSegBr">
                            <img src="seguidoresbr.png" />
                            <span>INSTAGRAM</span>
                            <h1>150 Seguidores Brasileiros</h1>
                            <p>R$ 12,50</p>
                            <h2>R$ 7,50</h2>
                            <button>Comprar</button>
                        </div>
                    </div>
                    <div class="card swiper-slide">
                        <div class="card cardSegBr">
                            <img src="seguidoresbr.png" />
                            <span>INSTAGRAM</span>
                            <h1>300 Seguidores Brasileiros</h1>
                            <p>R$ 16,67</p>
                            <h2>R$ 10,00</h2>
                            <button>Comprar</button>
                        </div>
                    </div>
                    <div class="card swiper-slide">
                        <div class="card cardSegBr">
                            <img src="seguidoresbr.png" />
                            <span>INSTAGRAM</span>
                            <h1>500 Seguidores Brasileiros</h1>
                            <p>R$ 25,00</p>
                            <h2>R$ 15,00</h2>
                            <button>Comprar</button>
                        </div>
                    </div>
                    <div class="card swiper-slide">
                        <div class="card cardSegBr">
                            <img src="seguidoresbr.png" />
                            <span>INSTAGRAM</span>
                            <h1>1000 Seguidores Brasileiros</h1>
                            <p>R$ 39,99</p>
                            <h2>R$ 23,99</h2>
                            <button>Comprar</button>
                        </div>
                    </div>
                    <div class="card swiper-slide">
                        <div class="card cardSegBr">
                            <img src="seguidoresbr.png" />
                            <span>INSTAGRAM</span>
                            <h1>2000 Seguidores Brasileiros</h1>
                            <p>R$ 76,62</p>
                            <h2>R$ 45,97</h2>
                            <button>Comprar</button>
                        </div>
                    </div>
                    <div class="card swiper-slide">
                        <div class="card cardSegBr">
                            <img src="seguidoresbr.png" />
                            <span>INSTAGRAM</span>
                            <h1>3000 Seguidores Brasileiros</h1>
                            <p>R$ 108,34</p>
                            <h2>R$ 65,00</h2>
                            <button>Comprar</button>
                        </div>
                    </div>
                    <div class="card swiper-slide">
                        <div class="card cardSegBr">
                            <img src="seguidoresbr.png" />
                            <span>INSTAGRAM</span>
                            <h1>5000 Seguidores Brasileiros</h1>
                            <p>R$ 166,65</p>
                            <h2>R$ 99,99</h2>
                            <button>Comprar</button>
                        </div>
                    </div>
                    <div class="card swiper-slide">
                        <div class="card cardSegBr">
                            <img src="seguidoresbr.png" />
                            <span>INSTAGRAM</span>
                            <h1>10000 Seguidores Brasileiros</h1>
                            <p>R$ 326,63</p>
                            <h2>R$ 195,97</h2>
                            <button>Comprar</button>
                        </div>
                    </div>
                    <div class="card swiper-slide">
                        <div class="card cardSegBr">
                            <img src="seguidoresbr.png" />
                            <span>INSTAGRAM</span>
                            <h1>15000 Seguidores Brasileiros</h1>
                            <p>R$ 451,63</p>
                            <h2>R$ 270,97</h2>
                            <button>Comprar</button>
                        </div>
                    </div>
                    <div class="card swiper-slide">
                        <div class="card cardSegBr">
                            <img src="seguidoresbr.png" />
                            <span>INSTAGRAM</span>
                            <h1>20000 Seguidores Brasileiros</h1>
                            <p>R$ 618,33</p>
                            <h2>R$ 370,99</h2>
                            <button>Comprar</button>
                        </div>
                    </div>
                   
                </div>
            </div>

            <div class="swiper-button-next swiper-navBtn"></div>
            <div class="swiper-button-prev swiper-navBtn"></div>
            <div class="swiper-pagination"></div>
        </div>
    </div>
    <div class="container-produto produto-1">
        <h1 id="title_over">Curtidas Brasileiras:</h1>
        <hr>
        <div class="slide-container swiper">
            <div class="slide-content">
                <div class="card-wrapper swiper-wrapper">
                    <div class="card swiper-slide">
                        <div class="card cardCurtBr">
                            <img src="curtidasbr.png" />
                            <span>INSTAGRAM</span>
                            <h1>100 Curtidas Brasileiros</h1>
                            <p>R$ 5,00</p>
                            <h2>R$ 3,00</h2>
                            <button>Comprar</button>
                        </div>
                    </div>
                    <div class="card swiper-slide">
                        <div class="card cardCurtBr">
                            <img src="curtidasbr.png" />
                            <span>INSTAGRAM</span>
                            <h1>150 Curtidas Brasileiros</h1>
                            <p>R$ 5,84</p>
                            <h2>R$ 3,50</h2>
                            <button>Comprar</button>
                        </div>
                    </div>
                    <div class="card swiper-slide">
                        <div class="card cardCurtBr">
                            <img src="curtidasbr.png" />
                            <span>INSTAGRAM</span>
                            <h1>300 Curtidas Brasileiros</h1>
                            <p>R$ 8,32</p>
                            <h2>R$ 4,99</h2>
                            <button>Comprar</button>
                        </div>
                    </div>
                    <div class="card swiper-slide">
                        <div class="card cardCurtBr">
                            <img src="curtidasbr.png" />
                            <span>INSTAGRAM</span>
                            <h1>500 Curtidas Brasileiros</h1>
                            <p>R$ 13,29</p>
                            <h2>R$ 7,97</h2>
                            <button>Comprar</button>
                        </div>
                    </div>
                    <div class="card swiper-slide">
                        <div class="card cardCurtBr">
                            <img src="curtidasbr.png" />
                            <span>INSTAGRAM</span>
                            <h1>1000 Curtidas Brasileiros</h1>
                            <p>R$ 16,62</p>
                            <h2>R$ 9,97</h2>
                            <button>Comprar</button>
                        </div>
                    </div>
                    <div class="card swiper-slide">
                        <div class="card cardCurtBr">
                            <img src="curtidasbr.png" />
                            <span>INSTAGRAM</span>
                            <h1>2000 Curtidas Brasileiros</h1>
                            <p>R$ 28,32</p>
                            <h2>R$ 16,99</h2>
                            <button>Comprar</button>
                        </div>
                    </div>
                    <div class="card swiper-slide">
                        <div class="card cardCurtBr">
                            <img src="curtidasbr.png" />
                            <span>INSTAGRAM</span>
                            <h1>3000 Curtidas Brasileiros</h1>
                            <p>R$ 40,00</p>
                            <h2>R$ 24,00</h2>
                            <button>Comprar</button>
                        </div>
                    </div>
                    <div class="card swiper-slide">
                        <div class="card cardCurtBr">
                            <img src="curtidasbr.png" />
                            <span>INSTAGRAM</span>
                            <h1>5000 Curtidas Brasileiros</h1>
                            <p>R$ 59,96</p>
                            <h2>R$ 35,97</h2>
                            <button>Comprar</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="swiper-button-next swiper-navBtn"></div>
            <div class="swiper-button-prev swiper-navBtn"></div>
            <div class="swiper-pagination"></div>
        </div>
    </div>
    <div class="container-produto">
        <h1 id="title_over">Seguidores Brasileiros Mulheres:</h1>
        <hr>
        <div class="slide-container swiper">
            <div class="slide-content">
                <div class="card-wrapper swiper-wrapper">
                    <div class="card swiper-slide">
                        <div class="card cardSegBrF">
                            <img src="mulheres.png" />
                            <span>INSTAGRAM</span>
                            <h1>50 Seguidores Brasileiros Mulheres </h1>
                            <p>R$ 4,99</p>
                            <h2>R$ 2,99</h2>
                            <button>Comprar</button>
                        </div>
                    </div>
                    <div class="card swiper-slide">
                        <div class="card cardSegBrF">
                            <img src="mulheres.png" />
                            <span>INSTAGRAM</span>
                            <h1>100 Seguidores Brasileiros Mulheres</h1>
                            <p>R$ 8,29</p>
                            <h2>R$ 4,97</h2>
                            <button>Comprar</button>
                        </div>
                    </div>
                    <div class="card swiper-slide">
                        <div class="card cardSegBrF">
                            <img src="mulheres.png" />
                            <span>INSTAGRAM</span>
                            <h1>150 Seguidores Brasileiros Mulheres</h1>
                            <p>R$ 11,80</p>
                            <h2>R$ 7,00</h2>
                            <button>Comprar</button>
                        </div>
                    </div>
                    <div class="card swiper-slide">
                        <div class="card cardSegBrF">
                            <img src="mulheres.png" />
                            <span>INSTAGRAM</span>
                            <h1>300 Seguidores Brasileiros Mulheres</h1>
                            <p>R$ 16,62</p>
                            <h2>R$ 9,97</h2>
                            <button>Comprar</button>
                        </div>
                    </div>
                    <div class="card swiper-slide">
                        <div class="card cardSegBrF">
                            <img src="mulheres.png" />
                            <span>INSTAGRAM</span>
                            <h1>500 Seguidores Brasileiros Mulheres</h1>
                            <p>R$ 24,95</p>
                            <h2>R$ 14,97</h2>
                            <button>Comprar</button>
                        </div>
                    </div>
                    <div class="card swiper-slide">
                        <div class="card cardSegBrF">
                            <img src="mulheres.png" />
                            <span>INSTAGRAM</span>
                            <h1>1000 Seguidores Brasileiros Mulheres</h1>
                            <p>R$ 31,67</p>
                            <h2>R$ 19,00</h2>
                            <button>Comprar</button>
                        </div>
                    </div>
                    <div class="card swiper-slide">
                        <div class="card cardSegBrF">
                            <img src="mulheres.png" />
                            <span>INSTAGRAM</span>
                            <h1>2000 Seguidores Brasileiros Mulheres</h1>
                            <p>R$ 59,99</p>
                            <h2>R$ 35,99</h2>
                            <button>Comprar</button>
                        </div>
                    </div>
                    <div class="card swiper-slide">
                        <div class="card cardSegBrF">
                            <img src="mulheres.png" />
                            <span>INSTAGRAM</span>
                            <h1>3000 Seguidores Brasileiros Mulheres</h1>
                            <p>R$ 91,68</p>
                            <h2>R$ 55,00</h2>
                            <button>Comprar</button>
                        </div>
                    </div>
                    <div class="card swiper-slide">
                        <div class="card cardSegBrF">
                            <img src="mulheres.png" />
                            <span>INSTAGRAM</span>
                            <h1>5000 Seguidores Brasileiros Mulheres</h1>
                            <p>R$ 148,29</p>
                            <h2>R$ 88,97</h2>
                            <button>Comprar</button>
                        </div>
                    </div>
                    <div class="card swiper-slide">
                        <div class="card cardSegBrF">
                            <img src="mulheres.png" />
                            <span>INSTAGRAM</span>
                            <h1>10000 Seguidores Brasileiros Mulheres</h1>
                            <p>R$ 268,32</p>
                            <h2>R$ 160,99</h2>
                            <button>Comprar</button>
                        </div>
                    </div>
                    <div class="card swiper-slide">
                        <div class="card cardSegBrF">
                            <img src="mulheres.png" />
                            <span>INSTAGRAM</span>
                            <h1>15000 Seguidores Brasileiros Mulheres</h1>
                            <p>R$ 404,96</p>
                            <h2>R$ 242,97</h2>
                            <button>Comprar</button>
                        </div>
                    </div>
                    <div class="card swiper-slide">
                        <div class="card cardSegBrF">
                            <img src="mulheres.png" />
                            <span>INSTAGRAM</span>
                            <h1>20000 Seguidores Brasileiros Mulheres</h1>
                            <p>R$ 516,67</p>
                            <h2>R$ 310,00</h2>
                            <button>Comprar</button>
                        </div>
                    </div>
                   
                </div>
            </div>

            <div class="swiper-button-next swiper-navBtn"></div>
            <div class="swiper-button-prev swiper-navBtn"></div>
            <div class="swiper-pagination"></div>
        </div>
    </div>
    <div class="container-produto">
        <h1 id="title_over">Seguidores Brasileiros Homens:</h1>
        <hr>
        <div class="slide-container swiper">
            <div class="slide-content">
                <div class="card-wrapper swiper-wrapper">
                    <div class="card swiper-slide">
                        <div class="card cardSegBrM">
                            <img src="homens.png" />
                            <span>INSTAGRAM</span>
                            <h1>50 Seguidores Brasileiros Homens </h1>
                            <p>R$ 4,99</p>
                            <h2>R$ 2,99</h2>
                            <button>Comprar</button>
                        </div>
                    </div>
                    <div class="card swiper-slide">
                        <div class="card cardSegBrM">
                            <img src="homens.png" />
                            <span>INSTAGRAM</span>
                            <h1>100 Seguidores Brasileiros Homens</h1>
                            <p>R$ 8,29</p>
                            <h2>R$ 4,97</h2>
                            <button>Comprar</button>
                        </div>
                    </div>
                    <div class="card swiper-slide">
                        <div class="card cardSegBrM">
                            <img src="homens.png" />
                            <span>INSTAGRAM</span>
                            <h1>150 Seguidores Brasileiros Homens</h1>
                            <p>R$ 11,80</p>
                            <h2>R$ 7,00</h2>
                            <button>Comprar</button>
                        </div>
                    </div>
                    <div class="card swiper-slide">
                        <div class="card cardSegBrM">
                            <img src="homens.png" />
                            <span>INSTAGRAM</span>
                            <h1>300 Seguidores Brasileiros Homens</h1>
                            <p>R$ 16,62</p>
                            <h2>R$ 9,97</h2>
                            <button>Comprar</button>
                        </div>
                    </div>
                    <div class="card swiper-slide">
                        <div class="card cardSegBrM">
                            <img src="homens.png" />
                            <span>INSTAGRAM</span>
                            <h1>500 Seguidores Brasileiros Homens</h1>
                            <p>R$ 24,95</p>
                            <h2>R$ 14,97</h2>
                            <button>Comprar</button>
                        </div>
                    </div>
                    <div class="card swiper-slide">
                        <div class="card cardSegBrM">
                            <img src="homens.png" />
                            <span>INSTAGRAM</span>
                            <h1>1000 Seguidores Brasileiros Homens</h1>
                            <p>R$ 31,67</p>
                            <h2>R$ 19,00</h2>
                            <button>Comprar</button>
                        </div>
                    </div>
                    <div class="card swiper-slide">
                        <div class="card cardSegBrM">
                            <img src="homens.png" />
                            <span>INSTAGRAM</span>
                            <h1>2000 Seguidores Brasileiros Homens</h1>
                            <p>R$ 59,99</p>
                            <h2>R$ 35,99</h2>
                            <button>Comprar</button>
                        </div>
                    </div>
                    <div class="card swiper-slide">
                        <div class="card cardSegBrM">
                            <img src="homens.png" />
                            <span>INSTAGRAM</span>
                            <h1>3000 Seguidores Brasileiros Homens</h1>
                            <p>R$ 91,68</p>
                            <h2>R$ 55,00</h2>
                            <button>Comprar</button>
                        </div>
                    </div>
                    <div class="card swiper-slide">
                        <div class="card cardSegBrM">
                            <img src="homens.png" />
                            <span>INSTAGRAM</span>
                            <h1>5000 Seguidores Brasileiros Homens</h1>
                            <p>R$ 148,29</p>
                            <h2>R$ 88,97</h2>
                            <button>Comprar</button>
                        </div>
                    </div>
                    <div class="card swiper-slide">
                        <div class="card cardSegBrM">
                            <img src="homens.png" />
                            <span>INSTAGRAM</span>
                            <h1>10000 Seguidores Brasileiros Homens</h1>
                            <p>R$ 268,32</p>
                            <h2>R$ 160,99</h2>
                            <button>Comprar</button>
                        </div>
                    </div>
                    <div class="card swiper-slide">
                        <div class="card cardSegBrM">
                            <img src="homens.png" />
                            <span>INSTAGRAM</span>
                            <h1>15000 Seguidores Brasileiros Homens</h1>
                            <p>R$ 404,96</p>
                            <h2>R$ 242,97</h2>
                            <button>Comprar</button>
                        </div>
                    </div>
                    <div class="card swiper-slide">
                        <div class="card cardSegBrM">
                            <img src="homens.png" />
                            <span>INSTAGRAM</span>
                            <h1>20000 Seguidores Brasileiros Homens</h1>
                            <p>R$ 516,67</p>
                            <h2>R$ 310,00</h2>
                            <button>Comprar</button>
                        </div>
                    </div>
                   
                </div>
            </div>

            <div class="swiper-button-next swiper-navBtn"></div>
            <div class="swiper-button-prev swiper-navBtn"></div>
            <div class="swiper-pagination"></div>
        </div>
    </div>

    <div class="comprador comprador_none">
        <img src="alerta.webp">
        <p><br></p>
    </div>

    <div class="container_avalicao">
        <div class="img_verificad">
            <img src="verificado.webp">
        </div>
        <div class="text_verificad">
            <p>Mais de 19.500 clientes satisfeitos já impulsionaram suas Rede Sociais com a turbinar perfil!</p>
        </div>
        <div class="avaliacao">
            <h2>Avaliações de Clientes</h2>
        </div>
        <div class="swiper mySwiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <ul>
                        <li><img src="avaliação.webp"></li>
                        <li><img src="avaliação.webp"></li>
                        <li><img src="avaliação.webp"></li>
                        <li><img src="avaliação.webp"></li>
                    </ul>
                    <p>"Fiz minha segunda compra e pediram pra avaliar o serviço, chegou super rápido e a quantidade
                        certa, podem compra sem medo , eles entregam e tem um suporte muito rápido."</p>
                </div>
                <div class="swiper-slide">
                    <ul>
                        <li><img src="avaliação.webp"></li>
                        <li><img src="avaliação.webp"></li>
                        <li><img src="avaliação.webp"></li>
                    </ul>
                    <p>"Avaliando minha primeira compra, chegou super rápido e entregou todos certinho, tive algumas
                        dúvidas e me responderam super rápido no suporte, recomendo!"</p>
                </div>
                <div class="swiper-slide">
                    <ul>
                        <li><img src="avaliação.webp"></li>
                        <li><img src="avaliação.webp"></li>
                        <li><img src="avaliação.webp"></li>
                        <li><img src="avaliação.webp"></li>
                    </ul>
                    <p>"A TurbinarPerfil realmente cumpre o que promete, estou na terceira compra e está entregando no
                        prazo determinado!"</p>
                </div>
                <div class="swiper-slide">
                    <ul>
                        <li><img src="avaliação.webp"></li>
                        <li><img src="avaliação.webp"></li>
                        <li><img src="avaliação.webp"></li>
                        <li><img src="avaliação.webp"></li>
                    </ul>
                    <p>"Os seguidores chegaram e até me surpreendi pela qualidade, parabéns turbinarperfil por entregar
                        oque promete."</p>
                </div>
            </div>
            <div class="swiper-pagination"></div>
        </div>
    </div>

    <div class="container_info">
        <div class="bg_info">
            <img src="bgsobreHome.webp">
        </div>
        <div class="text_info">
            <h1>Por que usar a TurbinarPerfil para Turbinar suas Redes Sociais?
            </h1>
            <hr>
            <p>Se você está procurando uma maneira eficaz de impulsionar o crescimento e o alcance das suas redes
                sociais, a TurbinarPerfil é a solução perfeita para você. Com uma ampla gama de recursos e benefícios
                exclusivos, essa plataforma se destaca como uma escolha inteligente para impulsionar sua presença
                online.</p>
            <button>Serviços</button>
        </div>


    </div>
    <div class="text_info">
    </div>
    <div class="comprador comprador_none">
        <img src="alerta.webp">
        <p><br></p>
    </div>
    <div class="container_surpresa">
        <div class="cx_surpresa">
            <img src="presentea.png">
            <h1>Ganhar 25 Curtidas</h1>
            <p>Você tem chance de receber até 250.000 Seguidores</p>
            <input type="text" placeholder="Cole seu link aqui" name="link" id="linkPacote">
            <label class="container checkout_Home">Ao clicar, você concorda com nossos <a href="/termos">termos</a> de
                serviços
                <input type="checkbox" id="verifiedCheckbox">
                <span class="checkmark home"></span>
            </label>
            <button>Comprar Agora</button>

        </div>

    </div>


    <footer>
        <div class="container_footer">
            <nav>
                <ul>
                    <li><a href="https://wa.me/message/VPCOLQZBW23LO1" style="color: #333;">Suporte</a></li>
                    <li><a href="/termos" style="color: #333;">Termos de Uso</a></li>
                    <li><a href="/politica" style="color: #333;">Politica de Privacidade</a></li>
                </ul>
            </nav>
            <div class="footer_imagem">
                <img src="google (1).png" style="width: 160px;">
                <img src="pix.png">
                <img src="globo.png">
                <img src="certificado (1).png" style="width: 140px; height: 70px;" alt="Imagem Compra Segura">
                <br>
            </div>
        </div>
        <p>Copyright © 2023 - turbinarperfil - Não temos nenhuma relação com a Meta ou qualquer outra rede social</p>
    </footer>

    </main>
    <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>

    <script>

var swiper = new Swiper(".slide-content", {
    slidesPerView: 3,
    spaceBetween: 25,
    loop: true,
    centerSlide: 'true',
    fade: 'true',
    grabCursor: 'true',
    pagination: {
      el: ".swiper-pagination",
      clickable: true,
      dynamicBullets: true,
    },
    navigation: {
      nextEl: ".swiper-button-next",
      prevEl: ".swiper-button-prev",
    },

    breakpoints:{
        0: {
            slidesPerView: 1,
        },
        414: {
            slidesPerView: 2,
        },
        950: {
            slidesPerView: 3,
        },
    },
  });
        var swiper = new Swiper(".mySwiper", {
            autoplay: {
                delay: 6000,
                disableOnInteraction: false,
            },
            pagination: {
                el: ".swiper-pagination",
            },
        });

        let multiplasList = document.querySelectorAll('.multiplasList')
        let adcOption = document.getElementById('adcOption');
        let quantidadeService = document.getElementById('quantidadeService');
        let valor_total = document.querySelector('.valor_total');
        const servicesList = [];
        let description = "";
        let sorteio = 0;
        let id = 0;
        let emails = [
            "ca*******souza@gmail.com",
            "ma****578@gmail.com",
            "luc****ryzel@gmail.com",
            "moni****silva@gmail.com",
            "bren*****@gmail.com",
            "jon*****@hotmail.com",
            "let56*****@gmail.com",
            "ca*****@gmail.com",
            "ana*****@gmail.com",
            "pa****@gmail.com",
        ];

        let qntdSeg = ["8", "1", "1", "8", "2", "1", "4", "8", "1", "2"];

        for (let i = 0; i < multiplasList.length; i++) {
            multiplasList[i].addEventListener("click", () => {
                quantidadeService.value = "";
                valor_total.innerHTML = `<span class="valor_simbol">R$</span> 0`

            })
        }

        let comprador = document.querySelector('.comprador');
        setInterval(() => {
            let comprador_p = document.querySelector(".comprador p");
            comprador.classList.remove("comprador_none");
            comprador_p.innerHTML = `${emails[sorteio]} <br> Acaba de comprar ${qntdSeg[sorteio]} Mil seguidores`;


            setTimeout(() => {
                comprador.classList.add("comprador_none");
            }, 35000);

            sorteio++;
            if (sorteio >= 9) {
                sorteio = 0;
            }
        }, 65000);

        let total;

        let link = document.getElementById('link');
        let verifiedCheckbox = document.getElementById("verifiedCheckbox")
        let cardSegBr = document.querySelectorAll('.cardSegBr button');
        let cardCurtBr = document.querySelectorAll('.cardCurtBr button');
        let cardSegMundiais = document.querySelectorAll('.cardSegMundiais button');
        let cardCurtMundiais = document.querySelectorAll('.cardCurtMundiais button');
        let cardSegBrF = document.querySelectorAll('.cardSegBrF');
        let cardSegBrM = document.querySelectorAll('.cardSegBrM')

        const serviceDescription = {
            id: "",
            qntdService: 0,
            price: 0,
            link: "",
            description: description
        }

        for(let i = 0; i < cardCurtMundiais.length; i++){
            cardCurtMundiais[i].addEventListener('click', () => {
                if(i === 0){
                    serviceDescription.id = 0;
                    serviceDescription.qntdService = 100;
                    serviceDescription.price = 2.00;
                    serviceDescription.description = "Curtidas Mundiais"

                    servicesList.push(serviceDescription);

                    let converte = JSON.stringify(servicesList);
                    let local = localStorage.setItem('carrinho', converte);

                    servicesList.pop();
                    window.location.href = "/checkout"
                }else if(i === 1){
                    serviceDescription.id = 0;
                    serviceDescription.qntdService = 150;
                    serviceDescription.price = 2.50;
                    serviceDescription.description = "Curtidas Mundiais"

                    servicesList.push(serviceDescription);

                    let converte = JSON.stringify(servicesList);
                    let local = localStorage.setItem('carrinho', converte);

                    servicesList.pop();
                    window.location.href = "/checkout"
                }else if(i === 2){
                    serviceDescription.id = 0;
                    serviceDescription.qntdService = 300;
                    serviceDescription.price = 3.00;
                    serviceDescription.description = "Curtidas Mundiais"

                    servicesList.push(serviceDescription);

                    let converte = JSON.stringify(servicesList);
                    let local = localStorage.setItem('carrinho', converte);

                    servicesList.pop();
                    window.location.href = "/checkout"
                }else if(i === 3){
                    serviceDescription.id = 0;
                    serviceDescription.qntdService = 500;
                    serviceDescription.price = 3.99;
                    serviceDescription.description = "Curtidas Mundiais"

                    servicesList.push(serviceDescription);

                    let converte = JSON.stringify(servicesList);
                    let local = localStorage.setItem('carrinho', converte);

                    servicesList.pop();
                    window.location.href = "/checkout"
                }else if(i === 4){
                    serviceDescription.id = 0;
                    serviceDescription.qntdService = 1000;
                    serviceDescription.price = 5.97;
                    serviceDescription.description = "Curtidas Mundiais"

                    servicesList.push(serviceDescription);

                    let converte = JSON.stringify(servicesList);
                    let local = localStorage.setItem('carrinho', converte);

                    servicesList.pop();
                    window.location.href = "/checkout"
                }else if(i === 5){
                    serviceDescription.id = 0;
                    serviceDescription.qntdService = 2000;
                    serviceDescription.price = 10.99;
                    serviceDescription.description = "Curtidas Mundiais"

                    servicesList.push(serviceDescription);

                    let converte = JSON.stringify(servicesList);
                    let local = localStorage.setItem('carrinho', converte);

                    servicesList.pop();
                    window.location.href = "/checkout"
                }else if(i === 6){
                    serviceDescription.id = 0;
                    serviceDescription.qntdService = 3000;
                    serviceDescription.price = 15.97;
                    serviceDescription.description = "Curtidas Mundiais"

                    servicesList.push(serviceDescription);

                    let converte = JSON.stringify(servicesList);
                    let local = localStorage.setItem('carrinho', converte);

                    servicesList.pop();
                    window.location.href = "/checkout"
                }else if(i === 7){
                    serviceDescription.id = 0;
                    serviceDescription.qntdService = 5000;
                    serviceDescription.price = 24.99;
                    serviceDescription.description = "Curtidas Mundiais"

                    servicesList.push(serviceDescription);

                    let converte = JSON.stringify(servicesList);
                    let local = localStorage.setItem('carrinho', converte);

                    servicesList.pop();
                    window.location.href = "/checkout"
                }
            })
        }

        for(let i = 0; i < cardSegMundiais.length; i++ ){
            cardSegMundiais[i].addEventListener('click', () => {
                if(i === 0){
                    serviceDescription.id = 1;
                    serviceDescription.qntdService = 50;
                    serviceDescription.price = 1.50;
                    serviceDescription.description = "Seguidores Mundiais"

                    servicesList.push(serviceDescription);

                    let converte = JSON.stringify(servicesList);
                    let local = localStorage.setItem('carrinho', converte);

                    servicesList.pop();
                    window.location.href = "/checkout"
                }else if(i === 1){
                    serviceDescription.id = 1;
                    serviceDescription.qntdService = 100;
                    serviceDescription.price = 2.00;
                    serviceDescription.description = "Seguidores Mundiais"

                    servicesList.push(serviceDescription);

                    let converte = JSON.stringify(servicesList);
                    let local = localStorage.setItem('carrinho', converte);

                    servicesList.pop();
                    window.location.href = "/checkout"
                }else if(i === 2){
                    serviceDescription.id = 1;
                    serviceDescription.qntdService = 150;
                    serviceDescription.price = 3.00;
                    serviceDescription.description = "Seguidores Mundiais"

                    servicesList.push(serviceDescription);

                    let converte = JSON.stringify(servicesList);
                    let local = localStorage.setItem('carrinho', converte);

                    servicesList.pop();
                    window.location.href = "/checkout"
                }else if(i === 3){
                    serviceDescription.id = 1;
                    serviceDescription.qntdService = 300;
                    serviceDescription.price = 3.50;
                    serviceDescription.description = "Seguidores Mundiais"

                    servicesList.push(serviceDescription);

                    let converte = JSON.stringify(servicesList);
                    let local = localStorage.setItem('carrinho', converte);

                    servicesList.pop();
                    window.location.href = "/checkout"
                }else if(i === 4){
                    serviceDescription.id = 1;
                    serviceDescription.qntdService = 500;
                    serviceDescription.price = 4.00;
                    serviceDescription.description = "Seguidores Mundiais"

                    servicesList.push(serviceDescription);

                    let converte = JSON.stringify(servicesList);
                    let local = localStorage.setItem('carrinho', converte);

                    servicesList.pop();
                    window.location.href = "/checkout"
                }else if(i === 5){
                    serviceDescription.id = 1;
                    serviceDescription.qntdService = 1000;
                    serviceDescription.price = 6.97;
                    serviceDescription.description = "Seguidores Mundiais"

                    servicesList.push(serviceDescription);

                    let converte = JSON.stringify(servicesList);
                    let local = localStorage.setItem('carrinho', converte);

                    servicesList.pop();
                    window.location.href = "/checkout"
                }else if(i === 6){
                    serviceDescription.id = 1;
                    serviceDescription.qntdService = 2000;
                    serviceDescription.price = 11.97;
                    serviceDescription.description = "Seguidores Mundiais"

                    servicesList.push(serviceDescription);

                    let converte = JSON.stringify(servicesList);
                    let local = localStorage.setItem('carrinho', converte);

                    servicesList.pop();
                    window.location.href = "/checkout"
                }else if(i === 7){
                    serviceDescription.id = 1;
                    serviceDescription.qntdService = 3000;
                    serviceDescription.price = 18.99;
                    serviceDescription.description = "Seguidores Mundiais"

                    servicesList.push(serviceDescription);

                    let converte = JSON.stringify(servicesList);
                    let local = localStorage.setItem('carrinho', converte);

                    servicesList.pop();
                    window.location.href = "/checkout"
                }else if(i === 8){
                    serviceDescription.id = 1;
                    serviceDescription.qntdService = 5000;
                    serviceDescription.price = 29.97;
                    serviceDescription.description = "Seguidores Mundiais"

                    servicesList.push(serviceDescription);

                    let converte = JSON.stringify(servicesList);
                    let local = localStorage.setItem('carrinho', converte);

                    servicesList.pop();
                    window.location.href = "/checkout"
                }else if(i === 9){
                    serviceDescription.id = 1;
                    serviceDescription.qntdService = 10000;
                    serviceDescription.price = 55.97;
                    serviceDescription.description = "Seguidores Mundiais"

                    servicesList.push(serviceDescription);

                    let converte = JSON.stringify(servicesList);
                    let local = localStorage.setItem('carrinho', converte);

                    servicesList.pop();
                    window.location.href = "/checkout"
                }else if(i === 10){
                    serviceDescription.id = 1;
                    serviceDescription.qntdService = 15000;
                    serviceDescription.price = 83.99;
                    serviceDescription.description = "Seguidores Mundiais"

                    servicesList.push(serviceDescription);

                    let converte = JSON.stringify(servicesList);
                    let local = localStorage.setItem('carrinho', converte);

                    servicesList.pop();
                    window.location.href = "/checkout"
                }else if(i === 11){
                    serviceDescription.id = 1;
                    serviceDescription.qntdService = 20000;
                    serviceDescription.price = 105.99;
                    serviceDescription.description = "Seguidores Mundiais"

                    servicesList.push(serviceDescription);

                    let converte = JSON.stringify(servicesList);
                    let local = localStorage.setItem('carrinho', converte);

                    servicesList.pop();
                    window.location.href = "/checkout"
                }
            })
        }

        for (let i = 0; i < cardSegBr.length; i++) {
            cardSegBr[i].addEventListener('click', () => {
                if (i === 0) {
                    serviceDescription.id = 2;
                    serviceDescription.qntdService = 50;
                    serviceDescription.price = 3.99;
                    serviceDescription.description = "Seguidores Brasileiros"

                    servicesList.push(serviceDescription);

                    let converte = JSON.stringify(servicesList);
                    let local = localStorage.setItem('carrinho', converte);

                    servicesList.pop();
                    window.location.href = "/checkout"
                }else if(i === 1){
                    serviceDescription.id = 2;
                    serviceDescription.qntdService = 100;
                    serviceDescription.price = 5.97;
                    serviceDescription.description = "Seguidores Brasileiros"

                    servicesList.push(serviceDescription);

                    let converte = JSON.stringify(servicesList);
                    let local = localStorage.setItem('carrinho', converte);

                    servicesList.pop();
                    window.location.href = "/checkout"
                }else if(i === 2){
                    serviceDescription.id = 2;
                    serviceDescription.qntdService = 150;
                    serviceDescription.price = 7.50;
                    serviceDescription.description = "Seguidores Brasileiros"

                    servicesList.push(serviceDescription);

                    let converte = JSON.stringify(servicesList);
                    let local = localStorage.setItem('carrinho', converte);

                    servicesList.pop();
                    window.location.href = "/checkout"
                }else if(i === 3){
                    serviceDescription.id = 2;
                    serviceDescription.qntdService = 300;
                    serviceDescription.price = 10.00;
                    serviceDescription.description = "Seguidores Brasileiros"

                    servicesList.push(serviceDescription);

                    let converte = JSON.stringify(servicesList);
                    let local = localStorage.setItem('carrinho', converte);

                    servicesList.pop();
                    window.location.href = "/checkout"
                }else if(i === 4){
                    serviceDescription.id = 2;
                    serviceDescription.qntdService = 500;
                    serviceDescription.price = 15.00;
                    serviceDescription.description = "Seguidores Brasileiros"

                    servicesList.push(serviceDescription);

                    let converte = JSON.stringify(servicesList);
                    let local = localStorage.setItem('carrinho', converte);

                    servicesList.pop();
                    window.location.href = "/checkout"
                }else if(i === 5){
                    serviceDescription.id = 2;
                    serviceDescription.qntdService = 1000;
                    serviceDescription.price = 23.99;
                    serviceDescription.description = "Seguidores Brasileiros"

                    servicesList.push(serviceDescription);

                    let converte = JSON.stringify(servicesList);
                    let local = localStorage.setItem('carrinho', converte);

                    servicesList.pop();
                    window.location.href = "/checkout"
                }else if(i === 6){
                    serviceDescription.id = 2;
                    serviceDescription.qntdService = 2000;
                    serviceDescription.price = 45.97;
                    serviceDescription.description = "Seguidores Brasileiros"

                    servicesList.push(serviceDescription);

                    let converte = JSON.stringify(servicesList);
                    let local = localStorage.setItem('carrinho', converte);

                    servicesList.pop();
                    window.location.href = "/checkout"
                }else if(i === 7){
                    serviceDescription.id = 2;
                    serviceDescription.qntdService = 3000;
                    serviceDescription.price = 65.00;
                    serviceDescription.description = "Seguidores Brasileiros"

                    servicesList.push(serviceDescription);

                    let converte = JSON.stringify(servicesList);
                    let local = localStorage.setItem('carrinho', converte);

                    servicesList.pop();
                    window.location.href = "/checkout"
                }else if(i === 8){
                    serviceDescription.id = 2;
                    serviceDescription.qntdService = 5000;
                    serviceDescription.price = 99.99;
                    serviceDescription.description = "Seguidores Brasileiros"

                    servicesList.push(serviceDescription);

                    let converte = JSON.stringify(servicesList);
                    let local = localStorage.setItem('carrinho', converte);

                    servicesList.pop();
                    window.location.href = "/checkout"
                }else if(i === 9){
                    serviceDescription.id = 2;
                    serviceDescription.qntdService = 10000;
                    serviceDescription.price = 195.97;
                    serviceDescription.description = "Seguidores Brasileiros"

                    servicesList.push(serviceDescription);

                    let converte = JSON.stringify(servicesList);
                    let local = localStorage.setItem('carrinho', converte);

                    servicesList.pop();
                    window.location.href = "/checkout"
                }else if(i === 10){
                    serviceDescription.id = 2;
                    serviceDescription.qntdService = 15000;
                    serviceDescription.price = 270.97;
                    serviceDescription.description = "Seguidores Brasileiros"

                    servicesList.push(serviceDescription);

                    let converte = JSON.stringify(servicesList);
                    let local = localStorage.setItem('carrinho', converte);

                    servicesList.pop();
                    window.location.href = "/checkout"
                }else if(i === 11){
                    serviceDescription.id = 2;
                    serviceDescription.qntdService = 20000;
                    serviceDescription.price = 370.99;
                    serviceDescription.description = "Seguidores Brasileiros"

                    servicesList.push(serviceDescription);

                    let converte = JSON.stringify(servicesList);
                    let local = localStorage.setItem('carrinho', converte);

                    servicesList.pop();
                    window.location.href = "/checkout"
                }
            })
        }

        for(let i = 0; i < cardCurtBr.length; i++){
            
            cardCurtBr[i].addEventListener('click', () => {
                if (i === 0) {
                    serviceDescription.id = 3;
                    serviceDescription.qntdService = 100;
                    serviceDescription.price = 3.00;
                    serviceDescription.description = "Curtidas Brasileiros"

                    servicesList.push(serviceDescription);

                    let converte = JSON.stringify(servicesList);
                    let local = localStorage.setItem('carrinho', converte);

                    servicesList.pop();
                    window.location.href = "/checkout"
                }else if(i === 1){
                    serviceDescription.id = 3;
                    serviceDescription.qntdService = 150;
                    serviceDescription.price = 3.50;
                    serviceDescription.description = "Curtidas Brasileiros"

                    servicesList.push(serviceDescription);

                    let converte = JSON.stringify(servicesList);
                    let local = localStorage.setItem('carrinho', converte);

                    servicesList.pop();
                    window.location.href = "/checkout"
                }else if(i === 2){
                    serviceDescription.id = 3;
                    serviceDescription.qntdService = 300;
                    serviceDescription.price = 4.99;
                    serviceDescription.description = "Curtidas Brasileiros"

                    servicesList.push(serviceDescription);

                    let converte = JSON.stringify(servicesList);
                    let local = localStorage.setItem('carrinho', converte);

                    servicesList.pop();
                    window.location.href = "/checkout"
                }else if(i === 3){
                    serviceDescription.id = 3;
                    serviceDescription.qntdService = 500;
                    serviceDescription.price = 7.97;
                    serviceDescription.description = "Curtidas Brasileiros"

                    servicesList.push(serviceDescription);

                    let converte = JSON.stringify(servicesList);
                    let local = localStorage.setItem('carrinho', converte);

                    servicesList.pop();
                    window.location.href = "/checkout"
                }else if(i === 4){
                    serviceDescription.id = 3;
                    serviceDescription.qntdService = 1000;
                    serviceDescription.price = 9.97;
                    serviceDescription.description = "Curtidas Brasileiros"

                    servicesList.push(serviceDescription);

                    let converte = JSON.stringify(servicesList);
                    let local = localStorage.setItem('carrinho', converte);

                    servicesList.pop();
                    window.location.href = "/checkout"
                }else if(i === 5){
                    serviceDescription.id = 3;
                    serviceDescription.qntdService = 2000;
                    serviceDescription.price = 16.99;
                    serviceDescription.description = "Curtidas Brasileiros"

                    servicesList.push(serviceDescription);

                    let converte = JSON.stringify(servicesList);
                    let local = localStorage.setItem('carrinho', converte);

                    servicesList.pop();
                    window.location.href = "/checkout"
                }else if(i === 6){
                    serviceDescription.id = 3;
                    serviceDescription.qntdService = 3000;
                    serviceDescription.price = 24.00;
                    serviceDescription.description = "Curtidas Brasileiros"

                    servicesList.push(serviceDescription);

                    let converte = JSON.stringify(servicesList);
                    let local = localStorage.setItem('carrinho', converte);

                    servicesList.pop();
                    window.location.href = "/checkout"
                }else if(i === 7){
                    serviceDescription.id = 3;
                    serviceDescription.qntdService = 5000;
                    serviceDescription.price = 35.97;
                    serviceDescription.description = "Curtidas Brasileiros"

                    servicesList.push(serviceDescription);

                    let converte = JSON.stringify(servicesList);
                    let local = localStorage.setItem('carrinho', converte);

                    servicesList.pop();
                    window.location.href = "/checkout"
                }
            })
        }

        for (let i = 0; i < cardSegBrF.length; i++) {
            console.log(cardSegBrF.length)
            cardSegBrF[i].addEventListener('click', () => {
                if (i === 0) {
                    serviceDescription.id = 4;
                    serviceDescription.qntdService = 50;
                    serviceDescription.price = 2.99;
                    serviceDescription.description = "Seguidores Brasileiros Mulheres"

                    servicesList.push(serviceDescription);

                    let converte = JSON.stringify(servicesList);
                    let local = localStorage.setItem('carrinho', converte);

                    servicesList.pop();
                    window.location.href = "/checkout"
                }else if(i === 1){
                    serviceDescription.id = 4;
                    serviceDescription.qntdService = 100;
                    serviceDescription.price = 4.97;
                    serviceDescription.description = "Seguidores Brasileiros Mulheres"

                    servicesList.push(serviceDescription);

                    let converte = JSON.stringify(servicesList);
                    let local = localStorage.setItem('carrinho', converte);

                    servicesList.pop();
                    window.location.href = "/checkout"
                }else if(i === 2){
                    serviceDescription.id = 4;
                    serviceDescription.qntdService = 150;
                    serviceDescription.price = 7.00;
                    serviceDescription.description = "Seguidores Brasileiros Mulheres"

                    servicesList.push(serviceDescription);

                    let converte = JSON.stringify(servicesList);
                    let local = localStorage.setItem('carrinho', converte);

                    servicesList.pop();
                    window.location.href = "/checkout"
                }else if(i === 3){
                    serviceDescription.id = 4;
                    serviceDescription.qntdService = 300;
                    serviceDescription.price = 9.97;
                    serviceDescription.description = "Seguidores Brasileiros Mulheres"

                    servicesList.push(serviceDescription);

                    let converte = JSON.stringify(servicesList);
                    let local = localStorage.setItem('carrinho', converte);

                    servicesList.pop();
                    window.location.href = "/checkout"
                }else if(i === 4){
                    serviceDescription.id = 4;
                    serviceDescription.qntdService = 500;
                    serviceDescription.price = 14.97;
                    serviceDescription.description = "Seguidores Brasileiros Mulheres"

                    servicesList.push(serviceDescription);

                    let converte = JSON.stringify(servicesList);
                    let local = localStorage.setItem('carrinho', converte);

                    servicesList.pop();
                    window.location.href = "/checkout"
                }else if(i === 5){
                    serviceDescription.id = 4;
                    serviceDescription.qntdService = 1000;
                    serviceDescription.price = 19.00;
                    serviceDescription.description = "Seguidores Brasileiros Mulheres"

                    servicesList.push(serviceDescription);

                    let converte = JSON.stringify(servicesList);
                    let local = localStorage.setItem('carrinho', converte);

                    servicesList.pop();
                    window.location.href = "/checkout"
                }else if(i === 6){
                    serviceDescription.id = 4;
                    serviceDescription.qntdService = 2000;
                    serviceDescription.price = 35.99;
                    serviceDescription.description = "Seguidores Brasileiros Mulheres"

                    servicesList.push(serviceDescription);

                    let converte = JSON.stringify(servicesList);
                    let local = localStorage.setItem('carrinho', converte);

                    servicesList.pop();
                    window.location.href = "/checkout"
                }else if(i === 7){
                    serviceDescription.id = 4;
                    serviceDescription.qntdService = 3000;
                    serviceDescription.price = 55.00;
                    serviceDescription.description = "Seguidores Brasileiros Mulheres"

                    servicesList.push(serviceDescription);

                    let converte = JSON.stringify(servicesList);
                    let local = localStorage.setItem('carrinho', converte);

                    servicesList.pop();
                    window.location.href = "/checkout"
                }else if(i === 8){
                    serviceDescription.id = 4;
                    serviceDescription.qntdService = 5000;
                    serviceDescription.price = 88.97;
                    serviceDescription.description = "Seguidores Brasileiros Mulheres"

                    servicesList.push(serviceDescription);

                    let converte = JSON.stringify(servicesList);
                    let local = localStorage.setItem('carrinho', converte);

                    servicesList.pop();
                    window.location.href = "/checkout"
                }else if(i === 9){
                    serviceDescription.id = 4;
                    serviceDescription.qntdService = 10000;
                    serviceDescription.price = 160.99;
                    serviceDescription.description = "Seguidores Brasileiros Mulheres"

                    servicesList.push(serviceDescription);

                    let converte = JSON.stringify(servicesList);
                    let local = localStorage.setItem('carrinho', converte);

                    servicesList.pop();
                    window.location.href = "/checkout"
                }else if(i === 10){
                    serviceDescription.id = 4;
                    serviceDescription.qntdService = 15000;
                    serviceDescription.price = 242.97;
                    serviceDescription.description = "Seguidores Brasileiros Mulheres"

                    servicesList.push(serviceDescription);

                    let converte = JSON.stringify(servicesList);
                    let local = localStorage.setItem('carrinho', converte);

                    servicesList.pop();
                    window.location.href = "/checkout"
                }else if(i === 11){
                    serviceDescription.id = 4;
                    serviceDescription.qntdService = 20000;
                    serviceDescription.price = 310.00;
                    serviceDescription.description = "Seguidores Brasileiros Mulheres"

                    servicesList.push(serviceDescription);

                    let converte = JSON.stringify(servicesList);
                    let local = localStorage.setItem('carrinho', converte);

                    servicesList.pop();
                    window.location.href = "/checkout"
                }
            })
        }
        for (let i = 0; i < cardSegBrM.length; i++) {
            cardSegBrM[i].addEventListener('click', () => {
                if (i === 0) {
                    serviceDescription.id = 5;
                    serviceDescription.qntdService = 50;
                    serviceDescription.price = 2.99;
                    serviceDescription.description = "Seguidores Brasileiros Homens"

                    servicesList.push(serviceDescription);

                    let converte = JSON.stringify(servicesList);
                    let local = localStorage.setItem('carrinho', converte);

                    servicesList.pop();
                    window.location.href = "/checkout"
                }else if(i === 1){
                    serviceDescription.id = 5;
                    serviceDescription.qntdService = 100;
                    serviceDescription.price = 4.97;
                    serviceDescription.description = "Seguidores Brasileiros Homens"

                    servicesList.push(serviceDescription);

                    let converte = JSON.stringify(servicesList);
                    let local = localStorage.setItem('carrinho', converte);

                    servicesList.pop();
                    window.location.href = "/checkout"
                }else if(i === 2){
                    serviceDescription.id = 5;
                    serviceDescription.qntdService = 150;
                    serviceDescription.price = 7.00;
                    serviceDescription.description = "Seguidores Brasileiros Homens"

                    servicesList.push(serviceDescription);

                    let converte = JSON.stringify(servicesList);
                    let local = localStorage.setItem('carrinho', converte);

                    servicesList.pop();
                    window.location.href = "/checkout"
                }else if(i === 3){
                    serviceDescription.id = 5;
                    serviceDescription.qntdService = 300;
                    serviceDescription.price = 9.97;
                    serviceDescription.description = "Seguidores Brasileiros Homens"

                    servicesList.push(serviceDescription);

                    let converte = JSON.stringify(servicesList);
                    let local = localStorage.setItem('carrinho', converte);

                    servicesList.pop();
                    window.location.href = "/checkout"
                }else if(i === 4){
                    serviceDescription.id = 5;
                    serviceDescription.qntdService = 500;
                    serviceDescription.price = 14.97;
                    serviceDescription.description = "Seguidores Brasileiros Homens"

                    servicesList.push(serviceDescription);

                    let converte = JSON.stringify(servicesList);
                    let local = localStorage.setItem('carrinho', converte);

                    servicesList.pop();
                    window.location.href = "/checkout"
                }else if(i === 5){
                    serviceDescription.id = 5;
                    serviceDescription.qntdService = 1000;
                    serviceDescription.price = 19.00;
                    serviceDescription.description = "Seguidores Brasileiros Homens"

                    servicesList.push(serviceDescription);

                    let converte = JSON.stringify(servicesList);
                    let local = localStorage.setItem('carrinho', converte);

                    servicesList.pop();
                    window.location.href = "/checkout"
                }else if(i === 6){
                    serviceDescription.id = 5;
                    serviceDescription.qntdService = 2000;
                    serviceDescription.price = 35.99;
                    serviceDescription.description = "Seguidores Brasileiros Homens"

                    servicesList.push(serviceDescription);

                    let converte = JSON.stringify(servicesList);
                    let local = localStorage.setItem('carrinho', converte);

                    servicesList.pop();
                    window.location.href = "/checkout"
                }else if(i === 7){
                    serviceDescription.id = 5;
                    serviceDescription.qntdService = 3000;
                    serviceDescription.price = 55.00;
                    serviceDescription.description = "Seguidores Brasileiros Homens"

                    servicesList.push(serviceDescription);

                    let converte = JSON.stringify(servicesList);
                    let local = localStorage.setItem('carrinho', converte);

                    servicesList.pop();
                    window.location.href = "/checkout"
                }else if(i === 8){
                    serviceDescription.id = 5;
                    serviceDescription.qntdService = 5000;
                    serviceDescription.price = 88.97;
                    serviceDescription.description = "Seguidores Brasileiros Homens"

                    servicesList.push(serviceDescription);

                    let converte = JSON.stringify(servicesList);
                    let local = localStorage.setItem('carrinho', converte);

                    servicesList.pop();
                    window.location.href = "/checkout"
                }else if(i === 9){
                    serviceDescription.id = 5;
                    serviceDescription.qntdService = 10000;
                    serviceDescription.price = 160.99;
                    serviceDescription.description = "Seguidores Brasileiros Homens"

                    servicesList.push(serviceDescription);

                    let converte = JSON.stringify(servicesList);
                    let local = localStorage.setItem('carrinho', converte);

                    servicesList.pop();
                    window.location.href = "/checkout"
                }else if(i === 10){
                    serviceDescription.id = 5;
                    serviceDescription.qntdService = 15000;
                    serviceDescription.price = 242.97;
                    serviceDescription.description = "Seguidores Brasileiros Homens"

                    servicesList.push(serviceDescription);

                    let converte = JSON.stringify(servicesList);
                    let local = localStorage.setItem('carrinho', converte);

                    servicesList.pop();
                    window.location.href = "/checkout"
                }else if(i === 11){
                    serviceDescription.id = 5;
                    serviceDescription.qntdService = 20000;
                    serviceDescription.price = 310.00;
                    serviceDescription.description = "Seguidores Brasileiros Homens"

                    servicesList.push(serviceDescription);

                    let converte = JSON.stringify(servicesList);
                    let local = localStorage.setItem('carrinho', converte);

                    servicesList.pop();
                    window.location.href = "/checkout"
                }
            })
        }


    </script>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-HB55PFN2SL"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-HB55PFN2SL');
    </script>
</body>

</html>