<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="author" content="Turbinar Perfil">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="A turbinar perfil é o maior fornecedor de serviços para mídias sociais, prezamos qualidade e rapidez nas entregas do serviço">
    <meta name="keywords" content="comprar seguidores, compra seguidores, compra seguidores instagram, comprar seguidores hoje, painel smm, comprar curtidas instagram, comprar curtidas, comprar visualizações instagram, comprar seguidor, seguidores instagram, curtidas instagram, visualizações instagram, visualizações, instagram, insta, vender seguidores, vender seguidores no instagram, tiktok, seguidores tiktok, curtidas tiktok, kwai">
    <meta property="og:locale" content="pt-BR">
    <meta property="og:type" content="website">
    <meta property="og:title" content="A turbinar perfil é o maior fornecedor de serviços para mídias sociais, prezamos qualidade e rapidez nas entregas do serviço">
    <meta property="og:url" content="https://turbinarperfil.fun">
    <title>Política - Turbinar Perfil</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600&display=swap" rel="stylesheet">
    <link href="style.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css" />

</head>

<body>
    <div class="bg_main_termos">
        <header>
            <div class="container_logo">
                <a href="/"><img src="logo.webp" alt="Logo Impulsionar Perfil"></a>
            </div>
            <nav>
                <ul>
                    <li class="none_menu"><a href="/">Inicio</a></li>
                    <li class="none_menu"><a href="/termos">Termos de Uso</a></li>
                    <li class="suporte none_menu"><a href="/politica">Politica de Privacidade</a></li>
                    <li class="none_menu"><a href="/pedido" class="contato_header">Ver pedido</a></li>
                </ul>
            </nav>
        </header>
        <main>
            <div class="container_termos">
                <h2>Política Privacidade</h2>
                <p>A sua privacidade é importante para nós. É política do turbinarperfil respeitar a sua privacidade em relação a qualquer informação sua que possamos coletar no site turbinarperfil, e outros sites que possuímos e operamos.</p>
                <p>Solicitamos informações pessoais apenas quando realmente precisamos delas para lhe fornecer um serviço. Fazemo-lo por meios justos e legais, com o seu conhecimento e consentimento. Também informamos por que estamos coletando e como será usado.</p>
                <p>Apenas retemos as informações coletadas pelo tempo necessário para fornecer o serviço solicitado. Quando armazenamos dados, protegemos dentro de meios comercialmente aceitáveis ​​para evitar perdas e roubos, bem como acesso, divulgação, cópia, uso ou modificação não autorizados.</p>
                <p>Não compartilhamos informações de identificação pessoal publicamente ou com terceiros, exceto quando exigido por lei.</p>
                <p>O nosso site pode ter links para sites externos que não são operados por nós. Esteja ciente de que não temos controle sobre o conteúdo e práticas desses sites e não podemos aceitar responsabilidade por suas respectivas políticas de privacidade.</p>
                <p>Você é livre para recusar a nossa solicitação de informações pessoais, entendendo que talvez não possamos fornecer alguns dos serviços desejados.</p>
                <p>O uso continuado de nosso site será considerado como aceitação de nossas práticas em torno de privacidade e informações pessoais. Se você tiver alguma dúvida sobre como lidamos com dados do usuário e informações pessoais, entre em contacto connosco.</p>
                <p>Compromisso do Usuário</p>
                <p>O usuário se compromete a fazer uso adequado dos conteúdos e da informação que o turbinarperfil oferece no site e com caráter enunciativo, mas não limitativo:</p>
                <p>A) Não se envolver em atividades que sejam ilegais ou contrárias à boa fé a à ordem pública;</p>
                <p>B) Não difundir propaganda ou conteúdo de natureza racista, xenofóbica, jogos de sorte ou azar, qualquer tipo de pornografia ilegal, de apologia ao terrorismo ou contra os direitos humanos;</p>
                <p>C) Não causar danos aos sistemas físicos (hardwares) e lógicos (softwares) do turbinarperfil, de seus fornecedores ou terceiros, para introduzir ou disseminar vírus informáticos ou quaisquer outros sistemas de hardware ou software que sejam capazes de causar danos anteriormente mencionados.</p>
                <p>Mais informações</p>
                <p>Esperemos que esteja esclarecido e, como mencionado anteriormente, se houver algo que você não tem certeza se precisa ou não, geralmente é mais seguro deixar os cookies ativados, caso interaja com um dos recursos que você usa em nosso site.</p>
                <p>Esta política é efetiva a partir de 8 July 2022 22:50</p>

             
           
            </div>

            <footer class="footer_payment">
                <div class="container_footer">
                    <nav>
                        <ul>
                            <li><a href="https://wa.me/message/VPCOLQZBW23LO1" style="color: #333;">Suporte</a></li>
                            <li><a href="/termos" style="color: #333;">Termos de Uso</a></li>
                            <li><a href="/politica" style="color: #333;">Politica de Privacidade</a></li>
                        </ul>
                    </nav>
                    <div class="footer_imagem">
                        <img src="segurancaimage.webp" alt="Icone Garantia">
                    </div>
                </div>
                <p>Copyright © 2023 - turbinarperfil - Não temos nenhuma relação com a Meta ou qualquer outra rede
                    social</p>
            </footer>
        </main>
</body>
</html>