<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="author" content="Turbinar Perfil">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="A turbinar perfil é o maior fornecedor de serviços para mídias sociais, prezamos qualidade e rapidez nas entregas do serviço">
    <meta name="keywords" content="comprar seguidores, compra seguidores, compra seguidores instagram, comprar seguidores hoje, painel smm, comprar curtidas instagram, comprar curtidas, comprar visualizações instagram, comprar seguidor, seguidores instagram, curtidas instagram, visualizações instagram, visualizações, instagram, insta, vender seguidores, vender seguidores no instagram, tiktok, seguidores tiktok, curtidas tiktok, kwai">
    <meta property="og:locale" content="pt-BR">
    <meta property="og:type" content="website">
    <meta property="og:title" content="A turbinar perfil é o maior fornecedor de serviços para mídias sociais, prezamos qualidade e rapidez nas entregas do serviço">
    <meta property="og:url" content="https://turbinarperfil.fun">
    <title>Termos de Uso - Turbinar Perfil</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600&display=swap" rel="stylesheet">
    <link href="style.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css" />

</head>

<body>
    <div class="bg_main_termos">
        <header>
            <div class="container_logo">
                <a href="/"><img src="logo.webp" alt="Logo Impulsionar Perfil"></a>
            </div>
            <nav>
                <ul>
                    <li class="none_menu"><a href="/">Inicio</a></li>
                    <li class="none_menu"><a href="/termos">Termos de Uso</a></li>
                    <li class="suporte none_menu"><a href="/politica">Politica de Privacidade</a></li>
                    <li class="none_menu"><a href="/pedido" class="contato_header">Ver pedido</a></li>
                </ul>
            </nav>
        </header>
        <main>
            <div class="container_termos">
                <h2>TERMOS DE USO — turbinarperfil</h2>
                <p>turbinarperfil descreve, através deste documento, as regras de uso do site https://turbinarperfil.fun e qualquer outro site, loja ou aplicativo operado pelo proprietário.</p>
                <p>Ao navegar neste website, consideramos que você está de acordo com os Termos de Uso abaixo.</p>
                <p>Caso você não esteja de acordo com as condições deste contrato, pedimos que não faça mais uso deste website, muito menos cadastre-se ou envie os seus dados pessoais.</p>
                <p>Se modificarmos nossos Termos de Uso, publicaremos o novo texto neste website, com a data de revisão atualizada. Podemos alterar este documento a qualquer momento. Caso haja alteração significativa nos termos deste contrato, podemos informá-lo por meio das informações de contato que tivermos em nosso banco de dados ou por meio de notificações.</p>
                <p>A utilização deste website após as alterações significa que você aceitou os Termos de Uso revisados. Caso, após a leitura da versão revisada, você não esteja de acordo com seus termos, favor encerrar o seu acesso.</p>
                <h2>SEÇÃO 1 - USUÁRIO</h2>
                <p>A utilização deste website atribui de forma automática a condição de Usuário e implica a plena aceitação de todas as diretrizes e condições incluídas nestes Termos.</p>
                <h2>SEÇÃO 2 - ADESÃO EM CONJUNTO COM A POLITICA DE PRIVACIDADE</h2>
                <p>A utilização deste website acarreta a adesão aos presentes Termos de Uso e a versão mais atualizada da Política de Privacidade de turbinarperfil.</p>
                <h2>SEÇÃO 3 - CONDIÇÕES DE ACESSO</h2>
                <p>Em geral, o acesso ao website da turbinarperfil possui caráter gratuito e não exige prévia inscrição ou registro.</p>
                <p>Contudo, para usufruir de algumas funcionalidades, o usuário poderá precisar efetuar um pagamento</p>
                <p>É de total responsabilidade do usuário fornecer apenas informações corretas, autênticas, válidas, completas e atualizadas, bem como não divulgar o seu login.</p>
                <h2>SEÇÃO 4 - COOKIES</h2>
                <p>Informações sobre o seu uso neste website podem ser coletadas a partir de cookies. Cookies são informações armazenadas diretamente no computador que você está utilizando. Os cookies permitem a coleta de informações tais como o tipo de navegador, o tempo despendido no website, as páginas visitadas, as preferências de idioma, e outros dados de tráfego anônimos. Nós e nossos prestadores de serviços utilizamos informações para proteção de segurança, para facilitar a navegação, exibir informações de modo mais eficiente, e personalizar sua experiência ao utilizar este website, assim como para rastreamento online. Também coletamos informações estatísticas sobre o uso do website para aprimoramento contínuo do nosso design e funcionalidade, para entender como o website é utilizado e para auxiliá-lo a solucionar questões relevantes.</p>
                <p>Caso não deseje que suas informações sejam coletadas por meio de cookies, há um procedimento simples na maior parte dos navegadores que permite que os cookies sejam automaticamente rejeitados, ou oferece a opção de aceitar ou rejeitar a transferência de um cookie (ou cookies) específico(s) de um site determinado para o seu computador. Entretanto, isso pode gerar inconvenientes no uso do website.</p>
                <p>As definições que escolher podem afetar a sua experiência de navegação e o funcionamento que exige a utilização de cookies. Neste sentido, rejeitamos qualquer responsabilidade pelas consequências resultantes do funcionamento limitado deste website provocado pela desativação de cookies no seu dispositivo (incapacidade de definir ou ler um cookie).</p>
                <h2>SEÇÃO 5 - PROPRIEDADE INTELECTUAL</h2>
                <p>Todos os elementos de turbinarperfil são de propriedade intelectual da mesma ou de seus licenciados. Estes Termos ou a utilização do website não concede a você qualquer licença ou direito de uso dos direitos de propriedade intelectual da turbinarperfil ou de terceiros.</p>
                <h2>SEÇÃO 6 - LINKS PARA SITES DE TERCEIROS</h2>
                <p>Este website poderá, de tempos a tempos, conter links de hipertexto que redirecionará você para sites das redes dos nossos parceiros, anunciantes, fornecedores etc. Se você clicar em um desses links para qualquer um desses sites, lembre-se que cada site possui as suas próprias práticas de privacidade e que não somos responsáveis por essas políticas. Consulte as referidas políticas antes de enviar quaisquer Dados Pessoais para esses sites.</p>
                <p>Não nos responsabilizamos pelas políticas e práticas de coleta, uso e divulgação (incluindo práticas de proteção de dados) de outras organizações, tais como Facebook, Apple, Google, Microsoft, ou de qualquer outro desenvolvedor de software ou provedor de aplicativo, loja de mídia social, sistema operacional, prestador de serviços de internet sem fio ou fabricante de dispositivos, incluindo todos os Dados Pessoais que divulgar para outras organizações por meio dos aplicativos, relacionadas a tais aplicativos, ou publicadas em nossas páginas em mídias sociais. Nós recomendamos que você se informe sobre a política de privacidade e termos de uso de cada site visitado ou de cada prestador de serviço utilizado.</p>
                <h2>SEÇÃO 7 - PRAZOS E ALTERAÇÕES</h2>
                <p>O funcionamento deste website se dá por prazo indeterminado.</p>
                <p>O website no todo ou em cada uma das suas seções, pode ser encerrado, suspenso ou interrompido unilateralmente por turbinarperfil, a qualquer momento e sem necessidade de prévio aviso.</p>
                <h2>SEÇÃO 8 - DADOS PESSOAIS</h2>
                <p>Durante a utilização deste website, certos dados pessoais serão coletados e tratados por turbinarperfil e/ou pelos Parceiros. As regras relacionadas ao tratamento de dados pessoais de turbinarperfil estão estipuladas na Política de Privacidade.</p>
                <h2>SEÇÃO 9 - POLÍTICA DE ENTREGA </h2>
                <p>A entrega de seguidores, curtidas e comentários poderá ultrapassar 24 (vinte e quatro) horas, podendo levar até 72 (setenta e duas) horas para entrega de todos os serviços contratados.</p>
                <p>Não garantimos que seus novos seguidores irão interagir com você. Apenas garantimos que você obtenha os seguidores que pediu.</p>
                <p>Não garantimos que 100% de nossas contas terão uma foto de perfil, biografia completa e/ou fotos no feed, embora nos esforcemos para tornar isso uma realidade para todas as contas.</p>
                <p>Todos os pedidos solicitados levarão cerca de 72 horas para serem concluídos. Exceto quando nosso sistema estiver sobrecarregado, podendo estender o prazo de entrega em até 7 dias úteis.</p>
                <p>Os usuários que fizerem pedidos em contas privadas NÃO terão direito a reembolso! Certifique-se de que a conta é pública antes de fazer qualquer pedido.</p>
                <p> Pedidos em andamento NÃO PODEM ser cancelados. Portanto, insira as informações cuidadosamente antes de iniciar o pedido.</p>
                <h2>SEÇÃO 10 - USOS PROIBIDOS</h2>
                <p>Conforme estabelecido nos Termos de Serviço, você está proibido de usar o Site ou o Conteúdo para:</p>
                <p>fins ilícitos;</p>
                <p>encorajar outros a realizar ou participar de quaisquer atos ilegais;</p>
                <p>violar quaisquer regulamentos internacionais, provinciais, estaduais ou federais, regras locais, leis ou regulamentos;</p>
                <p>violar ou violar nossos direitos de propriedade intelectual ou os direitos de propriedade intelectual de terceiros;</p>
                <h2>SEÇÃO 11 - ISENÇÃO DE RESPONSABILIDADE DE GARANTIAS</h2>
                <p>Não garantimos, representamos ou garantimos que seu uso de nosso Serviço será oportuno, seguro, livre de erros ou ininterrupto.</p>
                <p>Não garantimos indenização por falhas em páginas ou perfis que tenham sido bloqueados, renomeados ou deletados pelo usuário.</p>
                <p>Não garantimos que os resultados que podem ser obtidos do Serviço sejam precisos ou confiáveis.</p>
                <p>Você concorda que, de tempos em tempos, podemos suspender a venda do Serviço indefinidamente ou a qualquer momento sem aviso prévio.</p>
                <p>Também oferecemos reembolso se os serviços não forem iniciados em até 3 dias após a confirmação do pagamento.</p>
                <p>Não nos responsabilizamos por perfis ou páginas suspensas pois não temos acesso a senha e não é possível ser suspenso por recebimento de curtidas ou seguidores.</p>
                <h2>SEÇÃO 12 - REEMBOLSO</h2>
                <p>a) Você é responsável por fornecer informações precisas e completas ao utilizar nosso serviço, incluindo a inserção correta de links. Reconhecemos que erros podem ocorrer e entendemos que nem todos os equívocos são intencionais. No entanto, ressaltamos que não nos responsabilizamos por links inseridos incorretamente pelo usuário</p>
                <p>b) Devido à natureza do nosso serviço e à impossibilidade de verificar a exatidão dos links fornecidos pelos usuários, não podemos oferecer reembolso em casos de links inseridos incorretamente. Isso inclui links que levam a páginas inexistentes, não relacionadas ou que apresentam problemas de redirecionamento.</p>
                <p>c) Informamos que, caso você tenha adquirido nosso serviço com o perfil privado, não poderemos oferecer reembolso caso serviço já esteja em andamento. </p>
                <h2>SEÇÃO 12 - CONTATO</h2>
                <p>Caso você tenha qualquer dúvida sobre os Termos de Uso, por favor, entre em contato pelo e-mail *****************</p>
           
           
           
            </div>

            <footer class="footer_payment">
                <div class="container_footer">
                    <nav>
                        <ul>
                            <li><a href="/" style="color: #333;">Inicio</a></li>
                            <li><a href="/termos" style="color: #333;">Termos de Uso</a></li>
                            <li><a href="/politica" style="color: #333;">Politica de Privacidade</a></li>
                        </ul>
                    </nav>
                    <div class="footer_imagem">
                        <img src="segurancaimage.webp">
                    </div>
                </div>
                <p>Copyright © 2023 - turbinarperfil - Não temos nenhuma relação com a Meta ou qualquer outra rede
                    social</p>
            </footer>
        </main>

    
</body>

</html>